@import url("https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm");


* {
  margin: 0px;
  padding: 0px;
}

header {
  background: #ccc; 
  display: flex;
  align-items: center;  
  justify-content: space-between;
  padding: 2em 2em; 
  box-shadow: 0 2px 4px rgba(0,0, 0, 0.2);
}

nav a{
  padding: 0px 10px;
}

main{
  padding: 2em;
}

.botonera{
  display: flex;
  margin: 10px 0px;
}

.botonera p {
  padding: 5px;
}

footer {
  background: #ccc;
  justify-content: space-between;
  display: flex;
  align-items: center;  
  padding: 2em 2em;
  box-shadow: 0 2px 4px rgba(0,0, 0, 0.2);
  text-align: center;
  width: 100%;
  display: block;
}

button{
  padding: 3px 5px;
}


section {
  padding: 1.5rem;
  margin-right: 0;
  margin-left: 0;
  border-width: .2rem;

  display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1rem;
    
}


article {
  /* margin: 0.5rem; */
  padding: 0.5rem;
  background-color: #ffffff;
  border-radius: 3px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  cursor: pointer;
  object-fit: cover;
}


h5 {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
  }

  img {
      height: 200px;
      width: 100%;
      object-fit : cover;
      margin: 10px 0;
  }

  
